$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.banner {
    border-bottom: none;
    margin-top: -20px;
}

.banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.big-ban-transparent {
    position: relative;
    padding: 50px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.big-ban-1 {
    color: #F5F5F5;
    background: #1B374C;
}

.big-ban-2 {
    color: #F5F5F5;
    background: #EF5030;
}

.big-ban-3 {
    color: #F5F5F5;
    background: #4D6684;
}

.big-ban-4 {
    color: #F5F5F5;
    background-color: #73503C;
}

.big-ban-5 {
    color: #F5F5F5;
    background: #108896;
}

.big-ban-6 {
    background: #FCEBB6;
}

.big-ban{
    position: relative;
    padding: 50px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.big-ban h1{
    text-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../assets/images/desk-mini.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../assets/images/desk-long.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}



// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'texturebg.scss';
@import 'modal/modal.scss';
// endinjector