
.texturebg1 {
	color: #ffffff;
	background-color: #007c8c;
	background-image: url(http://www.transparenttextures.com/patterns/crissxcross.png);
}

.texturebg2 {
	color: #ffffff;
	background-color: #820079;
	background-image: url(http://www.transparenttextures.com/patterns/bo-play.png);
}

.texturebg3 {
	color: #ffffff;
	background-color: #FF5800;
	background-image: url(http://www.transparenttextures.com/patterns/dark-circles.png);
}

.texturebg4 {
	color: #ffffff;
	background-color: #1BA3E1;
	background-image: url(http://www.transparenttextures.com/patterns/dark-exa.png);
}

.texturebg5 {
	color: #ffffff;
	background-color: #97009B;
	background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);
}


.texturebg6 {
	color: #ffffff;
	background-color: #466675;
	background-image: url(http://www.transparenttextures.com/patterns/diamond-upholstery.png);
}

.texturebg7 {
	color: #ffffff;
	background-color: #DBDECD;
	background-image: url(http://www.transparenttextures.com/patterns/escheresque-dark.png);
}


.texturebg8 {
	color: #ffffff;
	background-color: #00BF99;
	background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
}

.texturebg9 {
	color: #ffffff;
	background-color: #CC0063;
	background-image: url(http://www.transparenttextures.com/patterns/flowers.png);
}


.texturebg10 {
	color: #ffffff;
	background-color: #31B70F;
	background-image: url(http://www.transparenttextures.com/patterns/football-no-lines.png);
}


.texturebg11 {
	color: #ffffff;
	background-color: #363635;
	background-image: url(http://www.transparenttextures.com/patterns/food.png);
}


.texturebg12 {
	color: #ffffff;
	background-color: #8B892E;
	background-image: url(http://www.transparenttextures.com/patterns/gold-scale.png);
}

.texturebg13 {
	color: #ffffff;
	background-color: #00CFCD;
	background-image: url(http://www.transparenttextures.com/patterns/gravel.png);
}


.texturebg14 {
	color: #ffffff;
	background-color: #814FA4;
	background-image: url(http://www.transparenttextures.com/patterns/gray-floral.png);
}

.texturebg15 {
	color: #ffffff;
	background-color: #FF5800;
	background-image: url(http://www.transparenttextures.com/patterns/green-gobbler.png);
}

.texturebg16 {
	color: #ffffff;
	background-color: #2C2F33;
	background-image: url(http://www.transparenttextures.com/patterns/grey-sandbag.png);
}

.texturebg17 {
	color: #ffffff;
	background-color: #FD953E;
	background-image: url(http://www.transparenttextures.com/patterns/grid-me.png);
}


.texturebg18 {
	color: #ffffff;
	background-color: #AC846F;
	background-image: url(http://www.transparenttextures.com/patterns/hoffman.png);
}

.texturebg19 {
	color: #ffffff;
	background-color: #FF5355;
	background-image: url(http://www.transparenttextures.com/patterns/kuji.png);
}


.texturebg20 {
	color: #ffffff;
	background-color: #00C69E;
	background-image: url(http://www.transparenttextures.com/patterns/arches.png);
}


.texturebg21 {
	color: #ffffff;
	background-color: #78E0E3;
	background-image: url(http://www.transparenttextures.com/patterns/my-little-plaid-dark.png);
}


.texturebg22 {
	color: #ffffff;
	background-color: #63C90E;
	background-image: url(http://www.transparenttextures.com/patterns/nami.png);
}

.texturebg23 {
	color: #ffffff;
	background-color: #E33900;
	background-image: url(http://www.transparenttextures.com/patterns/padded.png);
}

.texturebg24 {
	color: #ffffff;
	background-color: #00A1E5;
	background-image: url(http://www.transparenttextures.com/patterns/perforated-white-leather.png);
}

.texturebg25 {
	color: #ffffff;
	background-color: #A99153;
	background-image: url(http://www.transparenttextures.com/patterns/paven.png);
}

.texturebg26 {
	color: #ffffff;
	background-color: #440056;
	background-image: url(http://www.transparenttextures.com/patterns/black-scales.png);
}

.texturebg27 {
	color: #ffffff;
	background-color: #B9006E;
	background-image: url(http://www.transparenttextures.com/patterns/random-grey-variations.png);
}

.texturebg28 {
	color: #ffffff;
	background-color: #FF4400;
	background-image: url(http://www.transparenttextures.com/patterns/robots.png);
}

.texturebg29 {
	color: #ffffff;
	background-color: #737495;
	background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
}

.texturebg30 {
	color: #ffffff;
	background-color: #EA0044;
	background-image: url(http://www.transparenttextures.com/patterns/soft-kill.png);
}

.texturebg31 {
	color: #ffffff;
	background-color: #009ABF;
	background-image: url(http://www.transparenttextures.com/patterns/squares.png);
}

.texturebg32 {
	color: #ffffff;
	background-color: #70B22C;
	background-image: url(http://www.transparenttextures.com/patterns/starring.png);
}

.texturebg33 {
	color: #ffffff;
	background-color: #EE002A;
	background-image: url(http://www.transparenttextures.com/patterns/tasky.png);
}

.texturebg34 {
	color: #ffffff;
	background-color: #EFEFEF;
	background-image: url(http://www.transparenttextures.com/patterns/triangles.png);
}

.texturebg35 {
	color: #ffffff;
	background-color: #FF6F78;
	background-image: url(http://www.transparenttextures.com/patterns/type.png);
}

.texturebg36 {
	color: #ffffff;
	background-color: #757196;
	background-image: url(http://www.transparenttextures.com/patterns/vaio.png);
}

.texturebg37 {
	color: #ffffff;
	background-color: #50ABAF;
	background-image: url(http://www.transparenttextures.com/patterns/vichy.png);
}

.texturebg38 {
	color: #ffffff;
	background-color: #AA0094;
	background-image: url(http://www.transparenttextures.com/patterns/washi.png);
}

.texturebg39 {
	color: #ffffff;
	background-color: #8C6954;
	background-image: url(http://www.transparenttextures.com/patterns/white-tiles.png);
}

.texturebg40 {
	color: #ffffff;
	background-color: #C1B17D;
	background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
}

.texturebg41 {
	color: #ffffff;
	background-color: #F2EEB3;
	background-image: url(http://www.transparenttextures.com/patterns/woven.png);
}

.texturebg42 {
	color: #ffffff;
	background-color: #59323C;
	background-image: url(http://www.transparenttextures.com/patterns/woven-light.png);
}

.texturebg43 {
	color: #ffffff;
	background-color: #2B0025;
	background-image: url(http://www.transparenttextures.com/patterns/black-thread.png);
}

.texturebg44 {
	color: #ffffff;
	background-color: #FF85CB;
	background-image: url(http://www.transparenttextures.com/patterns/black-lozenge.png);
}
