
<div ng-include="'components/navbar/navbar.html'"></div>



<header class="header big-ban-transparent" id="banner">
  <div class="container">
    <h1>Maker Papa!</h1>
    <p class="lead">If you feel high, you then follow me papa together!</p>
    <img src="assets/images/papa.gif" alt="papa">
  </div>
</header>

<div class="big-ban-1" id="banner">
  <div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
    <img src="assets/images/papa.jpeg" alt="papa">
  </div>
</div>

<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
    <img src="assets/images/papa.jpg" alt="papa">
	</div>
</div>


<div class="header big-ban-transparent" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
    <img src="assets/images/papa1.jpg" alt="papa">
	</div>
</div>

<div class="big-ban-1-1" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-1-1" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>

<div class="big-ban-1-1" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>

<div class="big-ban-1-1" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>

<div class="big-ban-1-1" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>


<div class="big-ban-2" id="banner">
	<div class="container">
    <h1>'Pa, 'Pa!</h1>
    <p class="lead">papapapapapapapap......</p>
	</div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
