<div ng-include="'components/navbar/navbar.html'"></div>
<header class="big-ban pictureBackground big-ban-transparent banner">
    <div class="container">
        <h1>Maker Papa!</h1>
        <p class="lead">If you feel high, you then follow me papa together!</p>
        <img src="assets/images/papa.gif" alt="papa">
    </div>
</header>
<div class="big-ban big-ban-1 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
        <img src="assets/images/papa.jpeg" alt="papa">
    </div>
</div>
<div class="big-ban big-ban-2 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
        <img src="assets/images/papa.jpg" alt="papa">
    </div>
</div>
<div class="big-ban pictureBackground big-ban-transparent banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
        <img src="assets/images/papa1.jpg" alt="papa">
    </div>
</div>
<div class="big-ban big-ban-3 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
    </div>
</div>
<div class="big-ban big-ban-4 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
    </div>
</div>
<div class="big-ban big-ban-5 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
    </div>
</div>
<div class="big-ban big-ban-6 banner">
    <div class="container">
        <h1>'Pa, 'Pa!</h1>
        <p class="lead">papapapapapapapap......</p>
    </div>
</div>
<footer class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> Beijing maker papapa</p>
</footer>

<style type="text/css">

.pictureBackground {
    display: table;
    height: 70%;
    width: 100%;
    min-height: 70%;
    position: relative;
    background: url(../assets/images/desk-long.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99999;
    background-color: black;
}
</style>