<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	社区
	<div>
		<carousel interval="myInterval">
		<slide ng-repeat="slide in slides" active="slide.active">
		<img ng-src="{{slide.image}}" style="margin:auto;">
		<div class="carousel-caption">
			<h4>Slide {{$index}}</h4>
			<p>{{slide.text}}</p>
			<a href="#action" class="glyphicon glyphicon-chevron-down"> <i class="icon-arrow-down"></i></a>
		</div>
		</slide>
		</carousel>
	</div>
	<div masonry>
		<div class="masonry-brick" ng-repeat="item in items">
			<div class="{{item.style}} box" ng-click="" >
					<div class="boxxx">
						{{item.title}}xxxxxxxxxxxxxxxx12345678901234567890123456789xxxx
					</div>
				<img ng-src="{{item.image}}" class="box" >
				</img>
				<div ng-bind-html="item.content.extended"></div>

				<div class="hiddenx">
					You can use the overflow property when you want to have better control of the layout. The default value is visible.
				</div>


			</div>
		</div>
	</div>
</div>


 <!-- height="33vw" width="33vw"    width="280px"-->

	<div masonry>
		<div class="masonry-brick" ng-repeat="item in items">
			<div class="{{item.style}} box" ng-click="" >
				<p>
					<a class="hovertext" href="#" title="The title attribute of the link appears over the image on hover">
						<img ng-src="{{item.image}}" border="0" alt="" class="box">
					</a>
				</p>
			</div>
		</div>
	</div>



	<div masonry>
		<div class="masonry-brick" ng-repeat="item in items">
			<div class="image box ">

			      <img ng-src="{{item.image}}" alt="" class="box"/>
			      
			      <h2><span>A Movie in the Park:<br />Kung Fu Panda</span></h2>

			</div>
		</div>
	</div>

				<div class="image ">

			      <img ng-src="https://css-tricks.com/examples/TypeOverImage/images/3704755264_25a5e6958b.jpg" alt=""/>
			      
			      <h2><span>A Movie in the Park:<br />Kung Fu Panda</span></h2>

			</div>


			<div class="image">

		      <img src="https://css-tricks.com/examples/TypeOverImage/images/3704755264_25a5e6958b.jpg" alt="">
			      <h2><span>A Movie in the Park:<br />Kung Fu Panda</span></h2>

		      <h2><span>A Movie in the xxxx:<span class="spacer">&nbsp;</span><br><span class="spacer">&nbsp;</span>Kung Fu Panda</span></h2>

		</div>


