<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<div>
		<carousel interval="myInterval">
		<slide ng-repeat="slide in slides" active="slide.active">
		<img ng-src="{{slide.image}}" style="margin:auto;">
		<div class="carousel-caption">
			<h4>Slide {{$index}}</h4>
			<p>{{slide.text}}</p>
			<a href="#action" class="glyphicon glyphicon-chevron-down"> <i class="icon-arrow-down"></i></a>
		</div>
		</slide>
		</carousel>
	</div>
	<div masonry class="boxs_container" >
		<div class="masonry-brick box {{item.style}} " ng-repeat="item in items" ng-click="tileClicked(item)" style="{{item.inlineStyle}}">
			<img ng-src="{{item.image}}" alt="" class="boximage">
			<h4 class="box_title"><span>{{item.title}}</span></h4>
			<div class="box_desc" ><span>{{item.title}}</span></div>
		</div>
	</div>
</div>
